.modal :global(.ant-modal-content) {
    min-height: 500px; /* Adjust height */
    padding: 30px; /* Add padding */
    background-color: #B5CFB4;
  }
  
  .title {
    text-align: center;
    font-size: 50px !important; /* Increase text size */
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .inputContainer {
    display: flex;
    justify-content: space-between; /* Distribute space between the input and button */
    align-items: center;
  }
  
  .input {
    width: 80%; /* Adjust width as needed */
    margin-right: 10px; /* Space between input and button */
  }
  
  .nextButton {
    width: 20%; /* Adjust width as needed */
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .skipText {
    color: gray;
    cursor: pointer;
    text-decoration: underline;
  }